BasedOnStyle: Microsoft
UseTab: ForIndentation
AlignEscapedNewlines: DontAlign
IndentWidth: 4
TabWidth: 4
# AlignConsecutiveTableGenDefinitionColons:
#   Enabled: true
#   AcrossEmptyLines: true
#   AcrossComments: false