# Prerequisites
*.d
*.mk
!config.example.mk

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.img
build/multiplex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Build tool files
.cache/
compile_commands.json
output/

# Toolchain tarballs
toolchain/tarballs/

# Auxiliary miscelaneous files
misc/